{% extends 'blog/base.html' %}
{% load static %}

{% block titulo %}Cambiar Contraseña{% endblock %}

{% block contenido %}
    <h1 class="mb-4">Cambiar Contraseña</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-warning">Confirmar Cambio</button>
    </form>
{% endblock %}